html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  color: #003366;
}

img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}



header {
  background: #0077cc;
  padding: 12px;
  text-align: center;
}


nav a {
  display: inline-block;
  background: white;
  color: #0077cc;
  padding: 8px 14px;
  margin: 4px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  background: #005fa3;
  color: white;
}


main {
  flex: 1;
  text-align: center;
  padding: 20px;
}


footer {
  background: #0077cc;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
}

.quiz-page main {
  display: flex;
  justify-content: center;
  align-items: center;
}


.quiz-page .app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  padding: 30px;
}


.quiz-page .app h1 {
  font-size: 25px;
  color: #0014ed;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}


.quiz-page h2 {
  font-size: 18px;
  color: #0014ed;
  font-weight: 600;
}


.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background: #222;
  color: #fff;
}

#next-btn {
  background: #0014ed;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}